.reservasfondo {

    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: url(/images/fondoreservas2.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}